* {
    margin: 0px;
    padding: 0px;
}

body {}

li {
    list-style-type: none;
}

.galery {

    position: relative;
}

.big-image {
    width: 1200px;
}

.model-image-small {
position: absolute;
width: 100%;
bottom: 0px;
text-align: center;
}

.big-image>img {
width: 1200px;
margin: 0;
}

.image-small {
display: inline-block;
width: 55px;
height: 45px;
overflow: hidden;
border-radius: 50%;
position: relative;
}

.image-small>img {
border-radius: 50%;
width: 121%;
height: 104%;
overflow: hidden;
box-sizing: border-box;
display: block;
overflow-y: hidden;
overflow-x: hidden;
position: absolute;
left: -4px;
}

.contant {

    width: 1200px;

    margin: 0 auto;
}


.specification {
margin-top: 80px;
}

.title-specification {}

.title-specification>h1 {
font-size: 31px;
padding: 15px 0 3px 0;
font-weight: 400;
color: #6e1702;
display: inline-block;
margin-bottom: 5px;
text-transform: capitalize;
}

.params {

    display: flex;
}

.params-1 {}

.params-2 {}

.params-1>ul {

    width: 300px;
}

.params-2>ul {}

.params-1>ul>li {
margin: 5px 0;
padding: 5px 0px;
/* background: #f4f4f4; */
margin-right: 5px;
font-weight: 600;
font-size: 15px;
color: #7e7070;
}

.params-2>ul>li {
margin: 5px 0px;
padding: 5px 0px;
/* background: #F4F4F5; */
line-height: 20px;
font-size: 16px;
width: 100%;
color: #3d3d3d;
}


.description {
    display: flex;
}

.text-description {}

.text-description>p {
    font-size: 16px;
    color: #535252;
    font-weight: 100;
    width: 526px;
    line-height: 26px;
}

.features {
    margin: 20px 0px;
}

.features>h1 {
    font-size: 31px;
    padding: 15px 0 0px 0;
    font-weight: 400;
    color: #6e1702;
    display: inline-block;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.features>ul {
    margin: 0 20px;
}

.features>ul>li {
    color: #5b5858;
}

.img-description {
    margin: 0;
}

.img-description>img {
    width: 400px;
}

.div-description {
    margin: 30px 0 0 0;
}

.in-home {}

.in-home>img {

    width: 680px;
}

.title-description>h1 {
font-size: 31px;
padding: 15px 0 0px 0;
font-weight: 400;
color: #6e1702;
display: inline-block;
margin-bottom: 0;
text-transform: capitalize;
}

#image {
    background: url("../image/Culla-walnut-bench.html/image34246.webp")
}

.message {
    position: relative;
    margin-bottom: 90px;
}

.message>h1 {
    font-size: 21px;
    padding: 15px 0 3px 0;
    font-weight: 400;
    color: #6e1702;
    display: inline-block;
    margin-bottom: 9px;
    text-transform: capitalize;
    margin-top: 48px;
}

.message>textarea {
    width: 350px;
    height: 250px;
    font-size: 14px;
    padding: 4px 8px;
    /* display: block; */
    border: 1px solid #c0c0c0;
}

.message>a {
    background: #ff6458;
    color: #fff;
    border-color: #ff7519;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 16px;
    display: inline-block;
    border-radius: 3px;
    margin: 0 0 0 50px;
    position: absolute;
    bottom: 0;
}

.message>textarea::placeholder {
    color: #b3b3b3;
}