* {
	margin: 0px;
	padding: 0px;
	font-family: NotoSans;
}

a {
	text-decoration: none;
	color: black;
}

header {
	margin-bottom: 50px;
}


/* ----nav---- */
nav {

	display: inline-block;
}

nav>ul {
	position: relative;
	display: inline-block;
	justify-content: center;
	margin: 0 auto;
	padding: 0;
}

nav a {
	display: block;
	color: #fff;
	text-decoration: none;
}

nav ul li {
	color: #fff;
	list-style: none;
	transition: 0.5s;
	display: inline-block;
}

nav>ul>li>a {
	padding: 10px 20px;
	color: #aea2a2;
	font-size: 13px;
	font-weight: 100;
}

nav ul>li.submenu>a:after {
	margin-left: 10px;
	margin-top: 8px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
}

nav ul>li.submenu:hover>a:after {
	margin-top: 2px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid #fff;
}

/* second stage (the mega-menu) */

nav ul.megamenu {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	width: 1120px;
	top: -9999px;
	left: 0;
	padding: 40px 40px 0 40px;
	background: #fff;
	text-align: left;
	border-top: 5px solid #b7bcc0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	z-index: 1;
}

nav ul li:hover ul.megamenu {
	top: 100%;
}

/* third stage (child-menus in the mega-menu) */

nav ul.megamenu ul {
	width: 20%;
	margin-bottom: 40px !important;
	color: #000;
	box-shadow: none;
}

nav ul.megamenu h4 {
	margin-bottom: 15px;
	text-transform: uppercase;
}

nav ul.megamenu ul li {
	display: block;
	margin: auto;
}

nav ul.megamenu ul li a {
	margin-top: 10px;
	transition: 0.5s;
	color: #000;
}

nav ul.megamenu ul li a:hover {
	color: #4096ee;
}



/* -----nav-----  */

.login-store {
	display: inline-block;

	float: right;
}

.login-store>a {
	font-size: 14px;
	color: #a0a0a0;
	display: inline-block;
	top: 0;
	position: relative;
	clear: both;
}

.login-store>a>img {
	width: 35px;

	position: relative;
}

.search {
	display: inline-block;
	margin-left: 252px;
	position: relative;
}

.search>input {
	width: 536px;
	padding: 7px 10px;
	box-shadow: rgba(0, 0, 0, .1) 0 1px 10px 0 inset;
	border: 1px solid #d1d0cc;
	border-radius: 5px;
}

.search>a {
	top: 0.8px;
	position: absolute;
	right: 1px;
	background: 50px;
	/* background: #eeeeee; */
	padding: 1.8px;
}

.header {
	width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
}

.flag {
	display: inline-block;
	margin-left: 52px;
	padding: 4px 0 0 0;
	/* clear: both; */
	position: absolute;
}

.flag>img {
	width: 28px;

	height: 28px;

	border-radius: 50%;
}


.img-menu {
	width: 100%;
}

.img-menu>img {
	width: 350px;
	display: block;
	margin: 34px auto;
}

.caption {
	text-align: center;
}

.caption>h1 {
	font-size: 18px;

	font-weight: 600;
}

.caption>p {
	font-size: 15px;

	text-transform: lowercase;

	padding: 12px 0 60px 0;
}


.image-contant {
	text-align: center;

	position: relative;
}

.image-contant>a>img {
	margin: 0 auto;

	width: 800px;
}

.text-contant {
	text-align: justify;

	margin: auto;

	font-weight: 100;

	font-size: 20px;
}

.text-contant>p {
	margin: 90px 0;

	font-size: 15px;

	color: #6d6d6d;

	line-height: 26px;

	text-align: center;

	position: relative;

	bottom: 91px;
}

.image-model {
	display: flex;

	width: 1200px;

	margin: 0 auto;

	height: 600px;
}

.login-store :first-child {}

.like {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
}

#like {
	color: #f99595;

	font-size: 30px;
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
	animation-name: jssorl-009-spin;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.alert {
	background-color: #ff6458;
	display: flex;
	width: 1519px;
	margin: auto;
}

.size {
	width: 1200px;

	margin: 0 auto;

	display: flex;
}

.size>div {
	padding: 0 49px;

	width: 307px;
}

.size>div>span {
	font-size: 12px;

	color: #fffff4;

	padding: 13px;

	display: inline-block;
}

.close {
	width: 30px !important;

	/* padding: 10px 20px !important; */

	color: white;

	transform: rotate(45deg);

	font-size: 41px;

	font-weight: 100;

	height: 2px;
}

.close>a {
	color: white;

	display: inline-block;
}

footer {
	margin-top: 130px;
	background-color: #f6f6f6;
	padding-top: 1px;
	border-top: 1px solid #fcf6f6;
	display: block;
	width: 1519px;
	margin: auto;
}

.footer {
	width: 1200px;
	margin: 0 auto;
}

.link-chat {
	/* text-align: center; */
}

.link-chat>a {}

.link-chat>a>i {
	font-size: 26px;
	padding: 10px;
	width: 23px;
	height: 23px;
	margin: 0 5px;
}

.link-chat>a>i:hover {
	color: rgb(0, 153, 255);
}

.copyright {

	/* background-color: #525252; */

	text-align: center;

	padding-bottom: 20px;
}

.copyright>span {

	color: #615656;

	font-size: 13px;
}

.subscribe {

	display: flex;

	margin: 30px 15px;
}

.text-subscribe {

	width: 1000px;
}

.text-subscribe>p {

	font-size: 22px;

	font-weight: 100;

	color: #8f8f8f;
}

.text-subscribe>span {
	padding: 15px 0;
	display: block;
	font-size: 12px;
	color: #575757;
}

.input-subscribe {

	padding: 7px;

	width: 100%;

	margin: auto;

	display: inline-block;

	text-align: center;
}

.input-subscribe>input {

	width: 300px;

	border: none;

	padding: 0 8px;

	height: 34px;

	font-size: 12px;

	color: #666;

	box-sizing: border-box;
}

.input-subscribe>a {

	border: 1px solid #ff6458;

	padding: 5.5px 19px;

	color: #fff;

	background: #ff6458;

	text-align: center;

	letter-spacing: 1.4px;

	border-top-right-radius: 19px;

	position: absolute;
}




/*  --------------------------------image menu-------------------------------   */
.image-menu {

	position: relative;

	width: 400px;

	margin-top: 20px;
}

.image-menu>img {

	position: absolute;

	top: 0;

	width: 100%;

	display: block;
}

.image-menu :first-child {

	display: block;
}





.logo {

	position: relative;
}

.logo>img {

	width: 110px;
}




















.mySlides {
	display: none;
}

img {
	vertical-align: middle;
}

.slideshow-container {
	position: relative;
	width: 1200px;
	margin: auto;
}

.text {
	color: #f2f2f2;
	font-size: 22PX;
	padding: 8px 12px;
	position: absolute;
	font-weight: 400;
	width: 100%;
	text-align: center;
	top: 15px;
	line-height: 15.2px;
	font-family: optima;
	text-decoration: none;
	display: block;
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	display: none;
}

.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@media only screen and (max-width: 300px) {
	.text {
		font-size: 11px
	}
}

.img-slider {

	height: 700px;
}


.discription {

	width: 1200px;

	margin: auto;

	background: cadetblue;
}

.modern {}

.custom {

	display: flex;

	margin-top: 50px;
}

.clean {

	display: flex;

	margin-bottom: 50px;
}

.modern {

	display: flex;
}

.custom {}

.clean {}

.text-discription {

	width: 400px;

	padding: 30px;

	/* background: cadetblue; */

	margin: auto;

	height: 100%;
}

.text-discription>h2 {

	padding: 0 0 20px 0;

	font-size: 25px;

	font-weight: 100;

	color: #4b4b4b;

}

.image-discription {

	width: 400px;
}

.text-discription>p {

	width: 340px;

	margin: auto;

	font-size: 16px;
}

.image-discription>img {

	width: 400px;
}



/*  ------------------ about page -----------------  */
.body-about {}

.text-about {
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
}

.text-about>p {
    line-height: 29px;
    font-size: 16px;
}

.text-about>h2 {
    text-align: center;
    padding: 20px 0;
}

.image-about {
    width: 1200px;
    margin: auto;
}

.image-about>img {
    width: 1200px;
}